@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(background, headings, buttons)*/
    --light-gray: hsl(0, 0%, 95%);

    --bg-color: var(--light-gray);
    --btn-bg-color: var(--light-gray);
    --heading-bg-color: var(--light-gray);

    --regular-text-color: var(--transparent-white);

    --regular-font-size: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--bg-color);
    font-size: var(--regular-font-size);
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    color: var(--heading-bg-color);
    text-transform: uppercase;
    margin: 2rem 0;
}

p {
    color: var(--regular-text-color);
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0 0 2rem;
}

button {
    border-radius: 2rem;
    background-color: var(--btn-bg-color);
    padding: 0.875rem 1.5rem;
    border: 2px solid transparent;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    border: 2px solid var(--light-gray);
    background-color: transparent;
    color: var(--light-gray);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;

}

.container {
    margin: 10% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 3rem; 
    min-height: 400px;
    max-width: 300px;
}
.card:first-child {
    border-radius: 10px 10px 0 0;
}
.card:last-child {
    border-radius: 0 0 10px 10px;
}

.sedans {
    background-color: var(--bright-orange);
}

.sedans-btn {
    color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);

}
.suvs-btn {
    color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.luxury-btn {
    color: var(--very-dark-cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
    .card {
        max-width: 250px;
    }
    .card:first-child {
        border-radius: 10px 0 0 10px;
    }
    .card:last-child {
        border-radius: 0 10px 10px 0;
    }
}